<h2>Index</h2>
<div class="wiki-sidebar">
  <form action="/gameInfo/addCategory" method="post">
    <input type="text" name="categoryName" placeholder="Category" required />
    <input type="hidden" name="gameId" value="{{gameId}}" />
    <input type="hidden" name="parentId" value="" />
    <button type="submit">Add category</button>
  </form>

  <ul class="categories-list">
    {{#each categories}}
      <li class="category-item">
        <div
          class="category-name"
          onclick="toggleSubcategories('group-{{this.id}}')"
        >
          <h3>{{this.name}}</h3>
        </div>

        <div id="group-{{this.id}}" class="hidden">
          <ul class="subcategories-and-entries">
            {{#each this.children}}
              <li class="subcategory-item">
                <div
                  class="subcategory-name"
                  onclick="toggleSubcategories('gameinfo-form-{{this.id}}')"
                >
                  <h4>{{this.name}}</h4>
                </div>
                <div id="gameinfo-form-{{this.id}}" class="hidden">
                  <ul id="gameinfo-list-{{this.id}}">
                    {{#each this.gameInfos}}
                      <li class="gameinfo-item">
                        <a href="/gameInfo/view/{{this.id}}">{{this.title}}</a>
                      </li>
                    {{/each}}
                  </ul>
                  <button
                    onclick="location.href='/gameInfo/newGameInfo/{{gameId}}/{{this.id}}'"
                  >New Entry</button>

                </div>
              </li>
            {{/each}}
            {{#each this.gameInfos}}
              <li class="gameinfo-item">
                <a href="/gameInfo/view/{{this.id}}">{{this.title}}</a>
              </li>

            {{/each}}
          </ul>

          <form action="/gameInfo/addCategory" method="post">
            <input
              type="text"
              name="categoryName"
              placeholder="Subcategory Name"
              required
            />
            <input type="hidden" name="gameId" value="{{gameId}}" />
            <input type="hidden" name="parentId" value="{{this.id}}" />
            <button type="submit">Add Subcategory</button>
          </form>

          <button
            onclick="location.href='/gameInfo/newGameInfo/{{gameId}}/{{this.id}}'"
          >New Entry</button>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/js/wiki.js"></script>