    <h1>Profile</h1>
    <img src="{{user.profileImage}}" alt="Profile Image">
    <p>username: {{user.displayName}}</p>
    <p>userId: {{user.id}}</p>
    <p>User since:{{formatDate user.createdAt}}</p>
{{!-- <div>
  <h2>Your games:</h2>
  <ul>
    {{#each posts}}
        <li><a href="/posts/{{this.id}}">{{capitalize this.title}}</a></li>
        <p>Created: {{formatDate this.createdAt}}</p>
    {{/each}}
  </ul>
</div> --}}

<a href="/auth/logout">Logout</a>
<a href="/profile/edit">Edit Profile</a>