{{#if mapUrl}}
  <div id="game-board">
  </div>

  <div id="tokenList">
    {{#each tokens}}
      <button class="tokenButton" tokenImageUrl="{{this.imageUrl}}">
        <img src="{{this.imageUrl}}" alt="{{this.name}}" />
      </button>
    {{/each}}
  </div>
{{else}}
  <p>Hurry up and create your own tabletop!</p>
{{/if}}

<div id="control-panel">
  <form action="/map/uploadMap" method="POST" enctype="multipart/form-data">
    <div>
      <input type="hidden" name="gameId" value="{{game.id}}" />
      <label for="mapImage">Select Map Image:</label>
      <input
        type="file"
        id="mapImage"
        name="mapImage"
        accept="image/*"
        required
      />
    </div>
    <button type="submit">Upload Map</button>
  </form>

  <form action="/map/uploadToken" method="POST" enctype="multipart/form-data">
    <div>
      <label for="name">Token Name:</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div>
      <input type="hidden" name="gameId" value="{{game.id}}" />

      <label for="tokenImage">Token Image:</label>
      <input
        type="file"
        id="tokenImage"
        name="tokenImage"
        accept="image/*"
        required
      />
    </div>
    <button type="submit">Upload Token</button>
  </form>

</div>

<script>
  const mapUrl = "{{mapUrl}}"; const gameId = "{{game.id}}";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"></script>
<script src="/js/mapCanvas.js"></script>